@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Bold.ttf');
  font-weight: 700;
}
:root{
  --font:'Parkinsans';
  
  --color-primary : #222831;
  --color-secondary : #393E46;
  --color-accent : #00ADB5;

  --text-primary : #eeeeee;
  --text-secondary : #b8bcc8;

  --glass-bg : rgba(0, 0, 0, 0.2);
  --glass-border : 1px solid rgba(0, 0, 0, 0.2);
  --glass-shadow : 0 4px 30px rgba(0, 0, 0, 0.2);
}
[data-theme="light"]{
  --color-primary : #eeeeee;
  --color-secondary : #b8bcc8;
  --color-accent : #00ADB5;

  --text-primary : #222831;
  --text-secondary : #393E46;

  --glass-bg : rgba(255, 255, 255, 0.4);
  --glass-border : 1px solid rgba(255, 255, 255, 0.4);
  --glass-shadow : 0 4px 30px rgba(255, 255, 255, 0.4);
}
.bg-glass {
  background-color: var(--glass-bg);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: linear-gradient(90deg, #222831 0%, #0a1427 100%);
  transition: background 0.5s ease;
  z-index: 0;
}
[data-theme="light"] body {
    background: linear-gradient(210deg, #eeeeee 0%, #bcd1f3 100%);
}
body,input, textarea, select, button{
  font-family: var(--font);
}
::selection{
  background-color: var(--color-accent);
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative; 
  z-index: 2;
  pointer-events: none;
  color: var(--text-primary);
}
section h1 , section h2 , section h3 , section p , section span , section button, section div{
  pointer-events: auto;
}
.radius-squircle {
    border-radius: 30px;
}
@supports (corner-shape: squircle) {
    .radius-squircle {
        corner-shape: squircle;
        border-radius: 100px;
    }
}
div#header,div#main,div#footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  pointer-events: none;
}
div#header{
  height: 8vh;
  padding: 10px 25px;
}
div#header h1 {
  color: var(--text-primary);
}
div#main{
  height: 79vh;
}
div#footer{
  height: 9vh;
  gap: 12px;
  justify-content: center;
}
/*---- btn change theme (DarkMode & LightMode) -----*/
.theme-switch {
  width: 80px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--glass-border); 
  position: relative;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: none; 
  backdrop-filter: blur(10px);
}
.switch-handle {
  width: 40px;
  height: 40px;
  background-color: var(--text-primary);
  position: absolute;
  top: 0px; 
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s;
}
.switch-handle .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  color: var(--color-primary);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.sun-icon {
  opacity: 0;
  transform: scale(0.5);
}
.moon-icon {
  opacity: 1;
  transform: scale(1);
}
[data-theme="light"] .theme-switch .switch-handle {
  transform: translateX(40px); 
  background-color: var(--color-accent); 
}
[data-theme="light"] .switch-handle .icon {
    color: white;
}
[data-theme="light"] .moon-icon {
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
}
[data-theme="light"] .sun-icon {
  opacity: 1;
  transform: scale(1) rotate(0);
}
[data-theme="light"] .theme-switch {
    background-color: rgba(0, 0, 0, 0.05); 
    border-color: rgba(0, 0, 0, 0.15);
}
/* ----------main------------  -*/
/* -- manage color system -- */
#manage-color{
  width: 20%;
  height: auto;
  padding: 25px;
}
#manage-color h2{
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--text-primary);
}
#manage-color h3{
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: var(--text-secondary);
  margin-bottom: 12px;
  font-weight: 500;
}
.control-group{
  margin-bottom: 25px;
}
.control-group:last-child{
  margin-bottom: 0px;
}
.color-swatch,.select-color-warpper{
  display: flex;
  flex-wrap: wrap;
  gap:12px;
}
.color-swatch{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 2px solid rgba(145, 145, 145, 0.1);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.color-swatch:hover{
   transform: translateY(-5px) ;
}
.color-swatch[data-active="true"]{
  border-color: var(--color-primary);
  transform: scale(1.05);
  box-shadow: 0 0 5px 1px var(--color-accent);
}
.rainbow-mode , .picker-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    width: 36px;
    height: 36px;
    transform: translateY(-2px);
}
.color-swatch svg{
  width: 25px;
  height: 22px;
}
.color-swatch svg path{
  fill: var(--text-primary);
}
#custom-tshirt-picker,#custom-brush-picker {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.brush-size-warpper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}
#brush-size{
  width: 75%;
  -webkit-appearance: none;
  background: transparent;
}
#brush-size::-webkit-slider-runnable-track{
  width: 100%;
  height: 4px;
  background: var(--text-primary);
  border-radius: 2px;
  cursor: pointer;
}
#brush-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--color-accent);
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.6);
    transition: transform 0.1s;
}
.size-value{
  max-width: 20%;
  font-size: 0.9rem;
}
/* -- tools bar -- */
#tools-bar , #manage-color-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:4% !important;
  gap: 10px;
  padding: 25px;
}
#tools-bar button , #manage-color-mobile button{
   background: none;
   border: none;
   cursor: pointer;
   padding: 5px;
}
#tools-bar svg , #manage-color-mobile button svg {
  width: 32px;
  height: 32px;
  background: none;
}
#tools-bar svg path , #manage-color-mobile button svg path{
  fill: var(--text-primary);
}
#tools-bar button:hover svg path{
  fill: var(--color-accent);
}
#tools-bar button[data-active="true"] svg path{
  fill: var(--color-accent);
}
#tools-bar .divider{
  width: 100%;
  height: 2px;
  border-bottom: 1px dotted;
  border-color: var(--text-primary);
  margin: 5px 0px;
}

/* Animation & Human Button(Footer Button)  */
.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
  gap: 5px;
}
.footer-btn svg{
  display: block;
  width: 35px;
  height: 35px;
}
.footer-btn svg path{
    fill: var(--text-primary);
}
.footer-btn:hover{
  border-color: rgba(11, 123, 129, 0.507);
}
.footer-btn:nth-child(2) svg {
    transform: scale(1.15);
    transform-origin: center;
}
.footer-btn[data-active="true"]{
   box-shadow: 0 0 5px rgba(0, 173, 181, 0.4);
   background: rgba(0, 173, 181, 0.1);
}
.footer-btn[data-active="true"] svg path{
  fill: var(--color-accent);
}
#shot{
   box-shadow: 0 0 5px rgba(0, 173, 181, 0.4);
   background: rgba(0, 173, 181, 0.1);
}
#shot svg path, #shot .shot-text{
  color: var(--color-accent);
   fill: var(--color-accent);
}

/* Mr3DWeb Overlay */
.madeBy{
  position: absolute;
  left: 65px;
  bottom: 30px;
}
#openPopup{
 background: linear-gradient(45deg,#00ADB5,#00575c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  filter: drop-shadow(0 2px 5px rgba(118, 75, 162, 0.3)); /* سایه رنگی */
  transition: all 0.3s ease;
  cursor: pointer;
  z-index: 20;
}
[data-theme="dark"] #openPopup{
 background: linear-gradient(45deg,#00ADB5,#6af8ff);
  -webkit-background-clip: text;
 background-clip: text;
  color: transparent;
}
#openPopup:hover{
  margin-left: 3px;
  letter-spacing: 1px;
}
#Mr3DWeb,#confrim-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100lvw;
  height: 100lvh;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.4s ease, visibility 0.4s ease;
}
#Mr3DWeb.active , #confrim-overlay.active {
    opacity: 1;
    visibility: visible;
}
.popup,.confrim-box {
  width: 40%;
  background-color: var(--text-primary);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px -5px #00acb5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  padding: 35px;
}
#profile-warpper{
  display: flex;
  align-items: center;
  gap: 10px;
}
#profile-warpper div{
  display: flex;
  width: 75%;
  flex-direction: column;
}
#profile-warpper h3, #profile-warpper p{
  width: 100%;
  color: var(--color-primary);
}
#profile-warpper h3{
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  margin-bottom: 5px;
}
#profile-warpper h3 span{
  color: var(--color-accent);
  font-size: 1rem;
  letter-spacing: 0.5px;
  margin-left: 5px;
  font-weight: 500;
}
#profile-warpper p{
  font-size: 0.8rem;
  margin:5px 5px 0px 0px; 
  line-height: 18px;
  font-weight: 300;
}

#profile-warpper img{
  width: 25%;
  border-radius: 50%;
}
#closePopup{
  position: absolute;
  top: 20px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
#closePopup svg{
  width: 32px;
  height: 32px;
}
#closePopup svg path{
  fill: var(--color-accent);
}
#connect-warpper{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#connect-warpper h3{
  color: var(--color-primary);
  border-top: 1px solid var(--color-secondary);
  padding: 20px 10px 0px 10px;
}
#connect-warpper div{
  display: flex;
  gap: 30px;
}
#connect-warpper div a{
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.3s ease;
}
#connect-warpper div a:hover{
  color: var(--color-accent);
  letter-spacing: 1px;
}
.sc-web{
  transform: translateY(-3px);
}

/* Tolip */
[data-tooltip] {
    position: relative;
}
[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
    background-color: var(--text-primary);
    color: var(--color-primary);
    padding: 6px 10px;
    border-radius: 6px;
    font-family: var(--font);
    font-size: 0.8rem;
    white-space: nowrap;
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* افکت فنری */
}

[data-tooltip]:hover::before{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

/* Confrim modal Box */
.confrim-box svg{
  width: 100px;
  height: 100px;
}
.confrim-box svg path{
  fill: var(--color-accent);
}
.confrim-box h3 {
  color: var(--color-primary);
  margin: 20px 0px;
}
.confrim-action{
  display: flex;
  justify-content: center;
  gap: 30px;
}
.modal-btn{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.25s;
}
.modal-btn:hover{
  transform: scale(0.95);
}
#cancel-btn{
  background-color: var(--color-primary);
  color: var(--color-accent);
}
#confrim-btn{
  background: var(--color-accent);
  color: var(--color-primary);
}

/* Loader */
#loding-screen{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.8 ease-out;
}
.loader-content{
  text-align: center;
  color: var(--text-primary);
}
.spinner{
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: var(--color-accent);
  border-bottom-color: var(--color-accent);
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  margin: 0 auto 20px auto;
}
#loading-text{
  margin-top: 10px;
}
#loading-screen.fade-out {
    opacity: 0;
    pointer-events: none;
}
@keyframes spin {
    to { transform: rotate(360deg) ; }
}
.loader-note{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
    border: 1px dotted var(--color-accent);

    div{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      h4{
        font-size: 1rem;
        font-weight: 500;
      }
    }
}
.loader-note svg{
  height:80px;
  width: 80px;

  path{
    fill: var(--color-accent);
  }
}

#manage-color-mobile{
  display: none;
}

@media  (max-width : 450px ){
  /* Typo */
  div#header h1{
    font-size: 1.3rem;
  }
  /* other */
  section{
    padding: 10px;
  }
  #manage-color-mobile{
    display: flex;
    gap: 25px;
  }
  .theme-switch {
    width: 60px;
    height: 30px;
  }
  .switch-handle {
    width: 30px;
    height: 30px; 
  }
  div#header, div#main, div#footer{
    padding: 10px 0px;
  }
  #tools-bar , #manage-color-mobile{
    padding: 20px;
  }
  #tools-bar svg , #manage-color-mobile button svg{
    width: 26px;
    height: 26px;
  }
  #humanColorBtn-resp{
    transform: scale(1.5);
  }
  #manage-color-mobile span {
    width: 30px;
    top: 283px;
    position: absolute;
    height: 20px;
    border-top: 5px solid red;
    border-radius: 35%;
  }
  #manage-color{
    display: none;
  }
  div#footer {
    height: 15vh;
  }
  .madeBy{
    left: auto;
    bottom: 12px;
  }
  .footer-btn svg {
    width: 30px;
    height: 30px;
  }
  .footer-btn {
    padding: 10px;
  }
  .popup, .confrim-box{
  width: 90%;
  }
  #profile-warpper h3{
    font-size: 0.8rem;
  }
  #profile-warpper h3 span {
    font-size: 0.7rem;
    position: absolute;
    top: 20px;
    left: 110px;
}
  #profile-warpper p {
    font-size: 0.65rem;
  }

  #connect-warpper h3{
    font-size: 1rem;
  }
  #connect-warpper div a {
  font-size: 0.8rem;
  }
  .loader-note {
    display: none;
}
}