@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Bold.ttf');
  font-weight: 700;
}
:root{
  --font:'Parkinsans';
  
  --color-primary : #222831;
  --color-secondary : #393E46;
  --color-accent : #00ADB5;

  --text-primary : #eeeeee;
  --text-secondary : #b8bcc8;

  --glass-bg : rgba(0, 0, 0, 0.2);
  --glass-border : 1px solid rgba(0, 0, 0, 0.2);
  --glass-shadow : 0 4px 30px rgba(0, 0, 0, 0.2);
}
[data-theme="light"]{
  --color-primary : #eeeeee;
  --color-secondary : #b8bcc8;
  --color-accent : #00ADB5;

  --text-primary : #222831;
  --text-secondary : #393E46;

  --glass-bg : rgba(255, 255, 255, 0.4);
  --glass-border : 1px solid rgba(255, 255, 255, 0.4);
  --glass-shadow : 0 4px 30px rgba(255, 255, 255, 0.4);
}
.bg-glass {
  background-color: var(--glass-bg);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: linear-gradient(135deg, #222831 0%, #0a1427 100%);
  transition: background 0.5s ease;
  z-index: 0;
}
[data-theme="light"] body {
    background: linear-gradient(135deg, #eeeeee 0%, #bcd1f3 100%);
}
body,input, textarea, select, button{
  font-family: var(--font);
}
::selection{
  background-color: var(--color-accent);
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative; 
  z-index: 2;
  pointer-events: none;
  color: var(--text-primary);
}
section h1 , section h2 , section h3 , section p , section span , section button, section div{
  pointer-events: auto;
}
.radius-squircle {
    border-radius: 30px;
}
@supports (corner-shape: squircle) {
    .radius-squircle {
        corner-shape: squircle;
        border-radius: 100px;
    }
}
div#header,div#main,div#footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  pointer-events: none;
}
div#header{
  height: 8vh;
  padding: 10px 25px;
}
div#header h1 {
  color: var(--text-primary);
}
div#main{
  height: 79vh;
}
#manage-color{
  width: 20%;
  height: 60%;
  padding: 25px;
}
div#footer{
  height: 9vh;
  gap: 12px;
  justify-content: center;
}
/*---- btn change theme (DarkMode & LightMode) -----*/
.theme-switch {
  width: 80px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--glass-border); 
  position: relative;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: none; 
  backdrop-filter: blur(10px);
}
.switch-handle {
  width: 40px;
  height: 40px;
  background-color: var(--text-primary);
  position: absolute;
  top: 0px; 
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s;
}
.switch-handle .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  color: var(--color-primary);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.sun-icon {
  opacity: 0;
  transform: scale(0.5);
}
.moon-icon {
  opacity: 1;
  transform: scale(1);
}
[data-theme="light"] .theme-switch .switch-handle {
  transform: translateX(40px); 
  background-color: var(--color-accent); 
}
[data-theme="light"] .switch-handle .icon {
    color: white;
}
[data-theme="light"] .moon-icon {
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
}
[data-theme="light"] .sun-icon {
  opacity: 1;
  transform: scale(1) rotate(0);
}
[data-theme="light"] .theme-switch {
    background-color: rgba(0, 0, 0, 0.05); 
    border-color: rgba(0, 0, 0, 0.15);
}

/* Animation & Human Button(Footer Button)  */
.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
}
.footer-btn svg{
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--text-primary);
  margin-bottom: -6px;
}
.footer-btn:hover{
  border-color: rgba(11, 123, 129, 0.507);
}
.footer-btn:nth-child(2) svg {
    transform: scale(1.2);
    transform-origin: center;
}
.footer-btn:nth-child(3) svg {
    transform: scale(1.6);
    transform-origin: center;
}
.footer-btn[data-active="true"]{
   box-shadow: 0 0 5px rgba(0, 173, 181, 0.4);
   background: rgba(0, 173, 181, 0.1);
}
.footer-btn[data-active="true"] svg {
  fill: var(--color-accent);
  transform: scale(1.1);
}
#shot{
   box-shadow: 0 0 5px rgba(0, 173, 181, 0.4);
   background: rgba(0, 173, 181, 0.1);
}
#shot svg , #shot .shot-text{
  color: var(--color-accent);
   fill: var(--color-accent);
  transform: scale(1.1);
}