@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family:'Parkinsans';
  src: url('../static//Font/Parkinsans-Bold.ttf');
  font-weight: 700;
}
:root{
  --font:'Parkinsans';
  
  --color-primary : #222831;
  --color-secondary : #393E46;
  --color-accent : #00ADB5;

  --text-primary : #eeeeee;
  --text-secondary : #b8bcc8;

  --glass-bg : rgba(0, 0, 0, 0.2);
  --glass-border : 1px solid rgba(0, 0, 0, 0.2);
  --glass-shadow : 0 4px 30px rgba(0, 0, 0, 0.2);
}
[data-theme="light"]{
  --color-primary : #eeeeee;
  --color-secondary : #b8bcc8;
  --color-accent : #00ADB5;

  --text-primary : #222831;
  --text-secondary : #393E46;

  --glass-bg : rgba(255, 255, 255, 0.4);
  --glass-border : 1px solid rgba(255, 255, 255, 0.4);
  --glass-shadow : 0 4px 30px rgba(255, 255, 255, 0.4);
}
.bg-glass {
  background-color: var(--glass-bg);
  border: var(--glass-border);
  box-shadow: var(--glass-shadow);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow: hidden;
  background: linear-gradient(90deg, #222831 0%, #0a1427 100%);
  transition: background 0.5s ease;
  z-index: 0;
}
[data-theme="light"] body {
    background: linear-gradient(210deg, #eeeeee 0%, #bcd1f3 100%);
}
body,input, textarea, select, button{
  font-family: var(--font);
}
::selection{
  background-color: var(--color-accent);
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2vh;
  width: 100%;
  height: 100vh;
  padding: 20px;
  position: relative; 
  z-index: 2;
  pointer-events: none;
  color: var(--text-primary);
}
section h1 , section h2 , section h3 , section p , section span , section button, section div{
  pointer-events: auto;
}
.radius-squircle {
    border-radius: 30px;
}
@supports (corner-shape: squircle) {
    .radius-squircle {
        corner-shape: squircle;
        border-radius: 100px;
    }
}
div#header,div#main,div#footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  pointer-events: none;
}
div#header{
  height: 8vh;
  padding: 10px 25px;
}
div#header h1 {
  color: var(--text-primary);
}
div#main{
  height: 79vh;
}
div#footer{
  height: 9vh;
  gap: 12px;
  justify-content: center;
}
/*---- btn change theme (DarkMode & LightMode) -----*/
.theme-switch {
  width: 80px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid var(--glass-border); 
  position: relative;
  cursor: pointer;
  padding: 0;
  outline: none;
  box-shadow: none; 
  backdrop-filter: blur(10px);
}
.switch-handle {
  width: 40px;
  height: 40px;
  background-color: var(--text-primary);
  position: absolute;
  top: 0px; 
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.3s;
}
.switch-handle .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  color: var(--color-primary);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.sun-icon {
  opacity: 0;
  transform: scale(0.5);
}
.moon-icon {
  opacity: 1;
  transform: scale(1);
}
[data-theme="light"] .theme-switch .switch-handle {
  transform: translateX(40px); 
  background-color: var(--color-accent); 
}
[data-theme="light"] .switch-handle .icon {
    color: white;
}
[data-theme="light"] .moon-icon {
  opacity: 0;
  transform: scale(0.5) rotate(90deg);
}
[data-theme="light"] .sun-icon {
  opacity: 1;
  transform: scale(1) rotate(0);
}
[data-theme="light"] .theme-switch {
    background-color: rgba(0, 0, 0, 0.05); 
    border-color: rgba(0, 0, 0, 0.15);
}
/* ----------main------------  -*/
/* -- manage color system -- */
#manage-color{
  width: 20%;
  height: auto;
  padding: 25px;
}
#manage-color h2{
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: -0.5px;
  color: var(--text-primary);
}
#manage-color h3{
  font-size: 0.85rem;
  letter-spacing: 1px;
  color: var(--text-secondary);
  margin-bottom: 12px;
  font-weight: 500;
}
.control-group{
  margin-bottom: 25px;
}
.control-group:last-child{
  margin-bottom: 0px;
}
.color-swatch,.select-color-warpper{
  display: flex;
  flex-wrap: wrap;
  gap:12px;
}
.color-swatch{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--color-primary);
  border: 2px solid rgba(145, 145, 145, 0.1);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
.color-swatch:hover{
   transform: translateY(-3px) scale(1.02);
}
.color-swatch:active{
  border-color: var(--color-primary);
  transform: scale(1.05);
  box-shadow: 0 0 5px 1px var(--text-secondary);
}
.rainbow-mode , .picker-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    width: 34px;
    height: 34px;
}
.color-swatch svg{
  width: 20px;
  height: 20px;
}
.color-swatch svg path{
  fill: var(--text-primary);
}
#custom-tshirt-picker,#custom-brush-picker {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.brush-size-warpper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}
#brush-size{
  width: 75%;
  -webkit-appearance: none;
  background: transparent;
}
#brush-size::-webkit-slider-runnable-track{
  width: 100%;
  height: 4px;
  background: var(--text-primary);
  border-radius: 2px;
  cursor: pointer;
}
#brush-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background: var(--color-accent);
    cursor: pointer;
    margin-top: -7px;
    box-shadow: 0 0 10px rgba(0, 173, 181, 0.6);
    transition: transform 0.1s;
}
.size-value{
  max-width: 20%;
  font-size: 0.9rem;
}

/* Animation & Human Button(Footer Button)  */
.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.4s ease;
  backdrop-filter: blur(10px);
}
.footer-btn svg{
  display: block;
  width: 40px;
  height: 40px;
  fill: var(--text-primary);
  margin-bottom: -6px;
}
.footer-btn:hover{
  border-color: rgba(11, 123, 129, 0.507);
}
.footer-btn:nth-child(2) svg {
    transform: scale(1.2);
    transform-origin: center;
}
.footer-btn:nth-child(3) svg {
    transform: scale(1.6);
    transform-origin: center;
}
.footer-btn[data-active="true"]{
   box-shadow: 0 0 5px rgba(0, 173, 181, 0.4);
   background: rgba(0, 173, 181, 0.1);
}
.footer-btn[data-active="true"] svg {
  fill: var(--color-accent);
  transform: scale(1.1);
}
#shot{
   box-shadow: 0 0 5px rgba(0, 173, 181, 0.4);
   background: rgba(0, 173, 181, 0.1);
}
#shot svg , #shot .shot-text{
  color: var(--color-accent);
   fill: var(--color-accent);
  transform: scale(1.1);
}